.container{
    padding: 10px;
    background-color: black;
    color: white;
    float: left;
    max-width: 100%;
}
.box{
    display: inline;
    color: white;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}
.fi1, .fi2{
    float: right;
}

select{
    background-color: black;
    color: lightgray;
    border: none;
}
table{
    margin-left: 150px;
    margin-top: 0px;
}
tr td{
    padding: 50px;
    text-align: center;
    font-weight: bold;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box4 img{
    margin: 10px;
}
.box2{
   margin: 8px;
}
.box3{
    margin: 20px;
}
.tableCard{
    height: 350%;
    width: 70%;
    border: 1px solid;
    margin-left: 200px;
    border-radius: 10px;
    border-collapse: separate;
}
.tableCard tr td{
    border: 1px solid;
}
.td1{
    background-color: antiquewhite;
}
.td2{
    background-color: rgb(214, 228, 240);
}
.td3{
    background-color: rgb(252, 235, 249);
}
body{
    background-color: rgb(220, 228, 228);
    width: 100%;
    }
h1{
       font-weight: bold;
    }
table{
        width: 1400px;
    }
    .table1{
        width: 1650px;
    }
    #viewall{
        margin-left: 800px;
    }
    .first{
        display: flex;
        /*margin: auto;*/
    }
    .second{
        display: flex;
    }
    .card, .card1{
        background-color: white;
        text-align: center;
        margin: 7px;
    }
    
    s, #t{
        color: grey;
    }
    .card-img-top1{
       padding-bottom: 60px;
    }
    .card-img-top2{
        padding-bottom: 50px;
     }
     .card1{
         display: flex;
     }
     .card-body{
         text-align: center;
         justify-content: center;
     }
     .card2{
        display: flex;
    }
    .card-body{
        text-align: center;
        justify-content: center;
    }
.container3{
    display: flex;
}
.container3 div{
    margin: 15px;
    flex: 1;
}
.container3 div img{
    width: 200px;
    height: 150px;
}
.containerF{
    display: flex;
    padding: 15px;
    color: white;
    background-color: black;
}
.containerF div{
    margin: 5px;
    padding: 5px 25px;
}
.inputB{
    background-color:rgb(189, 30, 83) ;
    color: white;
    border-radius: 4px;
    padding: 4px;
    width: 150px;
}
.inputT{
    border-radius: 4px;
}
.containetFooter{
    display: flex;
    margin: 25px;
}
.containetFooter div{
    flex: 1;
}
.containetFooter div p:nth-child(1){
    font-weight: bold;
    font-size: 14px;
}
.containetFooter div p:not(:nth-child(1)){
    color: grey;
}
.containerFooter1{
    display: flex;
}
.containerFooter1 div{
    padding:60px;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer ul a{
    list-style-type: none;
}
.d-flex button{
    background-color: rgb(204, 38, 149);
    color: white;
    border: 2px solid rgb(204, 38, 149);;
    
}


    
    
    
    
    